<div class="ml-5">
    <p>Elija una opción para jugar.</p>
    <div class="row">
        <div class="col-md-6">
            <mat-selection-list #moveSelected [multiple]="false" [disabled]="this.socket.moveSelected" (selectionChange)="selectChange()" style="border: 1px solid black;">
                <mat-list-option value="Piedra">Piedra</mat-list-option>
                <mat-list-option value="Papel">Papel</mat-list-option>
                <mat-list-option value="Tijera">Tijera</mat-list-option>
            </mat-selection-list>
        </div>
        <div class="col-md-6">
            <button mat-raised-button color="primary" style="width:100%" (click)="this.socket.sendMove(moveSelected._value[0]);" [disabled]="this.socket.moveSelected || !opcionElegida">
                {{ this.socket.moveSelected ? 'Esperando' : 'Jugar!' }}
            </button>
            <button mat-raised-button color="warn" style="width:100%; margin-top:60px" (click)="this.socket.finishGame();">
                Abandonar
            </button>
        </div>
        <ng-container *ngIf="this.socket.startTimer">
            <p class="mt-5 mb-2">{{ this.socket.playingAgainstBot ? 'Tienes 15 segundos para jugar.' : 'Tú y tu adversario tienen 15 segundos para jugar.' }}</p>
            <mat-progress-bar class="example-margin" color="#3f51b5" [value]="this.socket.timer/150">
            </mat-progress-bar>
        </ng-container>


        <ng-container *ngIf="this.socket.moveSelected">
            <h5 class="mt-3">Seleccionaste <strong>{{ moveSelected._value[0] }}</strong>, ahora a esperar que tu adversario juegue.</h5>
        </ng-container>

        <ng-container *ngIf="this.socket.adversarySelectMove">
            <h5 class="mt-3">Tu adversario ya jugó, selecciona tu jugada!</h5>
        </ng-container>
    </div>
</div>